// index
doctype html
html(lang="nl")
  include pug/_head.pug

  body  
    include pug/_header.pug
        
        
    include pug/_header.pug
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='js/vendor.js')
